My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        -544
      ],
      "id": "f877054c-563a-4023-9d1d-56a0de834ec8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        64
      ],
      "id": "cc22c91c-21df-446f-9acd-25c34d5b3517",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        288,
        288
      ],
      "id": "d591aee9-64c0-459c-b30f-a01747193de3",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -592,
        -448
      ],
      "id": "64eb44be-f0df-4f3c-9b9c-1196b149a879",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -304,
        -496
      ],
      "id": "f6a54399-debd-4599-8a76-4b51f003e49a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Create a LinkedIn or Twitter post based on the following article summary:\n\nSummary: {{$json[\"summary\"]}}\nHashtags: {{$json[\"hashtags\"]}}\n\nFormat:\n- Hook line (1 sentence)\n- Short summary (1–2 lines)\n- Relevant hashtags\n- Call-to-action like “Read more 👉” + {{$json[\"link\"]}}\n\nYou are a social media content writer. \nBased on the given input, create a short LinkedIn post with:\n- A catchy opening hook\n- A 2–3 sentence summary\n- The given hashtags at the end\n- A “Read more 👉 {{ $json[\"link\"] }}” line at the bottom\n\nArticle Summary:\n{{ $json[\"output\"][0].content[0].text }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -128,
        -288
      ],
      "id": "3934c3ff-562b-483d-8f22-0511f4073098",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "wGY0whdIwRpAyTUX",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Create a LinkedIn or Twitter post based on the following article summary:\n\nSummary: {{$json[\"summary\"]}}\nHashtags: {{$json[\"hashtags\"]}}\n\nFormat:\n- Hook line (1 sentence)\n- Short summary (1–2 lines)\n- Relevant hashtags\n- Call-to-action like “Read more 👉” + {{$json[\"link\"]}}\nYou are a social media content writer. \nBased on the given input, create a short LinkedIn post with:\n- A catchy opening hook\n- A 2–3 sentence summary\n- The given hashtags at the end\n- A “Read more 👉 {{ $json[\"link\"] }}” line at the bottom\n\nArticle Summary:\n{{ $json[\"output\"][0].content[0].text }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        192,
        -496
      ],
      "id": "bae14e5e-db20-4bff-91cf-487c9130444a",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "wGY0whdIwRpAyTUX",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "shnee2505@gmail.com",
        "subject": "Daily Workflow Report",
        "message": "<h3>Hello!</h3><p>This is a test email sent from n8n automation.</p>",
        "options": {
          "senderName": "n8n Report Summary"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        752,
        -304
      ],
      "id": "a2c979be-dfc6-476f-9f17-55ab9c2cc132",
      "name": "Send a message",
      "webhookId": "cce1eddc-e395-4325-a96f-130021fd428d",
      "credentials": {
        "gmailOAuth2": {
          "id": "CDT4GsqggS0SzqdQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "=\"Automated update 🚀 #n8n #AI \" + {{$now}}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        544,
        -304
      ],
      "id": "ff645814-01e6-4c4c-89df-beea88157188",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "pyImdxmkNeoi96cl",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2a7edd6-66d1-42e1-ab68-b4497ef40493",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e69f884a01ef420014bd8d69420a860ca16bb65b1d5ab7c2a7a647a8bb49472"
  },
  "id": "nDHy51HwTklHCCei",
  "tags": []
}